// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify

/*******************
Fonts
********************/
$font_0: 'Roboto';
$title_font_size: 20px;
$subtitle_font_size: 18px;
$content_font_size: 14px;
$subcontent_font_size: 12px;

/*******************
Colors
********************/
$primary_color: #00394D;
$secondary_color: #fb641e;
$secondary_color2: #F03434;
$correct_color: #98CB00;
$incorrect_color: #FFD600;
$golden_color: #FDB433;
$typography_0: #3E3E3E;
$typography_1: #707070;
$typography_place_holder: #D4D4D4;
$box_background_color: #F8F8F8;
$box_background_color2: #F3F3F3;
$white: #FFF;


